# LaTeX临时文件
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
.lh



*.nav
*.pre
*.snm
*.vrb

# *.pdf

*.dvi
*.ps
*.eps
.history

.latexmk
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml


*~
*.bak
*.swp
.#*
\#*\#
auto/
*/.auto/
*/auto/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
